@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#key {
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: #353541;
    display: flex;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    padding: 0 0;
}

/*.side-bar {
    background-color: #202123;
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    /*margin-left: 260px;*/
}

.bottom-section {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    padding: 10px;
}

#prompt {
    border: none;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-color: #3e3f4b;
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
        rgba(0, 0, 0, 0.05) 0 -12px 30px,
        rgba(0, 0, 0, 0.05) 0 4px 6px,
        rgba(0, 0, 0, 0.05) 0 12px 3px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

#prompt:focus {
    outline: none;
}

.input-container {
    position:relative;
    width: 100%;
    max-width: 650px;
}

.input-container #submit {
    padding-left: 10px;
    border-radius: 5px;
    padding-right: 10px;
    position:absolute;
    right: 10px;
    bottom: 10px;
    cursor:pointer;
}

#submit i {
    color: #6b6c7b;
}

.green {
    background-color: #19c37d;
}

.green i {
    color: white!important;
}

button {
    border : solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
}

nav {
    border : solid 0.5px rgba(255, 255, 255, 0.5);
    padding:10px;
    margin: 10px;
    border-radius: 5px;
}

nav p {
    text-align: center;
}

.history {
    padding:10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    /*height:100%*/
}

.history p {
    cursor:pointer;
}

.image-container {
    border-radius: 15px;
    overflow: hidden;
    /*box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;*/
}

.option {
    position: fixed;
    top: 10;
    right: 10;
    background-color: #34354175;
}

.option input {
    color: black;
    width: 50px;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

input[type="radio"] {
    width: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 50px;
}

#output {
    width: 100%;
    padding-bottom: 200px;
    text-align: left;
}

.reponse {
    max-width: 650px;
    padding: 25px;
}

select {
    width: 100%;
}

select, option {
    color: black;
}

/* Sidebar */
#accordionSidebar {
    padding: 10px;
    width: 260px;
    min-height: 100vh;
    background-color: #202123;
}

#accordionSidebar button {
    width: 100%;
    height: 44px;
}

#accordionSidebar button i, #toggleSideBarHide {
    font-size: large;
}

#newChat {
    text-align: left;
}

#toggleSideBar, #toggleSideBarHide {
    width: 44px!important;
}

#toggleSideBarHide {
    position: absolute;
    margin: 14px;
    height: 44px!important;
}

.text-ss {
    font-size: .775rem;
    line-height: 1rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

button, #authors {
    border: 1px solid #555659!important;
}

.btn-dark {
    background-color: #202123!important;
}

.btn-dark:hover {
    background-color: #2b2c30!important;
}

#sidebar {
    height: 100%;
    position: relative;
}

#sidebarBottom {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #555659;
}

#authors:hover {
    cursor: default;
}

#authors {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#accordionSidebar {
    transition: transform 0.2s ease;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

/* Home */
#home {
    margin-left: auto;
    margin-right: auto;
}

#home #header {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
}

#header {
    letter-spacing: -1px;
}

#homeInner {
    margin-top: 25%;
}

.example {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    background-color: #3e3f4b;
}

#exampleColumn .example:hover {
    background-color: #202123;
    cursor: pointer;
}

#home .col-4 {
    padding: 0;
}

#key-alert {
    border-color: #2c0b0e;
    opacity: 0.7;
}

#key-alert i {
    color: #2c0b0e;
}

/* Output */
.user-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.gpt {
    background-color: #444654;
}

.user .row, .gpt .row {
    margin-left: auto;
    margin-right: auto;
}

/* Modal */
.modal {
    background-color: #44444473!important;
}
.modal-content {
    background-color: #202123!important;
}

.modal-header {
    border-bottom: 1px solid #3e3f4b!important;
}

.modal-header button {
    border: none!important;
    background-color: unset!important;
    color: white!important;
}

.input-group-text {
    background-color: #353535!important;
}

.form-control, .form-select {
    background-color: #3e3f4b!important;
}

.input-group-text, .form-control, .form-select, .form-select option {
    color: white!important;
    border: none!important;
}

.selected-menu {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #3e3f4b;
}

/* Loader */
.hide {
    display: none;
}

#loader {
    margin: 50px;
    border: 10px solid #f3f3f3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 10px solid #19c37d;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}